body{
    margin: 0;
    padding:0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #f7f3f3;
    color: 333;
    font-size: 1.4rem;
    line-height: 1.6;
}
.typing_animation{
    font-family: 'Courier New', Courier, monospace;
    color: #e60012;
    text-align: center;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: 0.05em;
    border-right: 0.15em solid #e60012;
    animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
}
@keyframes typing {
    from {width: 0;}
    to {width: 100%;}
}
@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: orange; }
}
.navbar{
    color: white;
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #292828;
}
.navbar ul{
    list-style: none;
    display: flex;
    font-size: 50px;
    margin: 0;
    padding: 0;
    gap: 22rem;
    font-family:fantasy;
}
.navbar ul li{
    display: inline;
    transition: background-color 0.3s ease;
}
.navbar ul li a{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}
.navbar ul li:hover{
    color: #575656;
}

.container{
    margin: auto;
    padding: 20px;
    max-width: 1500px;
    border: #292828;
    border-width: 1rem;
    border-style: solid;
}
.container h1{
    text-align: center;
    font-size: 4.3rem;
    margin-bottom: 20px;
    color: #e60012;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-family: cursive;
}

.charcater {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.charcater img{
    width: 300px;
    height: auto;
    max-width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    margin-right: 20px;
    margin-bottom: 40px;
}
.charcater p{
    flex: 1;
    font-size: 1.4rem;
    line-height: 1.6;
    max-width: 600px;
    text-align: center;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
}
.histrypart{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
    justify-content: space-between;
    gap: 20px;
}
.histrypart:nth-child(even){
    flex-direction: row-reverse;
}
.histrypart img{
    width: 500px;
    height: auto;
    max-width: 100%;
    object-fit: contain;
    margin: 0;
    padding-left: 100px;
    padding-right: 100px;
}
.histrypart p{
    flex: 1;
    font-size: 1.4rem;
    line-height: 1.6;
    max-width: 850px;
    padding: 80px;
}
.main-image{
    width: 100%;
    height: auto;
    max-width: 100%;
    margin-top: 20px;
}
@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
        font-size: 30px;
        gap: 10rem;
    }
    .container{
        width : 90%;
    }
    .grid{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    .charcater img , .histrypart img{
        width: 100%;
        border-radius: 0;
    }
}